<%- include('../partials/header') %>

<h1>Skills as of <%= time %></h1>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>">
        <%= s.skill %>
      </a>
        - 
        <a href="/skills/<%= s.id %>">
          <%= s.todo %>
        </a>
      <%= s.learned ? 'learned' : 'not learned' %>
    </li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>