<%- include('../partials/header') %>
<body>
  <h1>Skill #<%= skill.id %> </h1>
    <h3><%= skill.skill %></h3>
    <h3>Learned: <%= skill.learned ? 'Yes' : 'No' %></h3>
  </body>
<%- include('../partials/footer') %>